
<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>menu</mat-icon>
    </button>
    <span>TrekTogether</span>
    <span class="example-spacer" style="flex: 1 1 auto;"></span>
   
   <button mat-raised-button style="margin: 20px;">Log-in</button>
 
   <button mat-raised-button >Sing-in</button>
  </mat-toolbar>
</p>

<div style="display: flex; height: 100vh;">
  <mat-drawer-container autosize>
    <mat-drawer #drawer opened="true" mode="side" position="end">
      <mat-nav-list>
        <mat-list-item>
          <button mat-button><mat-icon>dashboard</mat-icon>Dashboard</button>
        </mat-list-item>
      </mat-nav-list>
    </mat-drawer>
    <mat-drawer-content>
      <div style="text-align: center; min-height: 800px;">
      
      </div>
    </mat-drawer-content>
  </mat-drawer-container>
  
  
  
  
</div>
